.track {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    text-align: left;
}

/* .trackbutton button:hover{
    background-color: blue;
    
} */

.track.even{
    background-color: #FF99CC;
}
.track.odd {
    background-color: #00FF66;
}

.trackbutton button {
    background-color: transparent;
    font-size: 1.5em;
    border: none;
}