.tracklist {
    background-color: rgba(255, 255, 255, 0.37);
    box-sizing: border-box;
    max-height: 28em;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}