.searchBar {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between; /* Add space between items */
    padding: 10px; /* Add padding for better spacing */
    align-items: center;
  }

.searchButton {
    box-sizing: border-box;
    width: 25%;
}