.playlistName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding for better spacing */
    position: sticky;
    top: 0px;
    z-index: 1;
}
